/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

body {
    background-color: rgb(214, 208, 245);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 25vw;
    background-color: rgb(156, 168, 180);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.projects {
  display: grid;
}

.sidebar button {
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid lightslategray;
    padding: 8px;
}

.add-project-btn-sidebar {
    border-radius: 15px;
    border: 1px solid lightslategray;
    padding: 10px;
    background-color: rgb(149, 155, 202);
}

.text {
    justify-self: center;
    margin-top: 20px;
}

.plus {
  --b: 4px; /* the thickness */
  width: 35px; /* the size */
  aspect-ratio: 1;
  border: 10px solid #076326; /* the outer space */
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#046414 90deg,#fff 0) 
    calc(100% + var(--b)/2) calc(100% + var(--b)/2)/
    calc(50%  + var(--b))   calc(50%  + var(--b));
  display: inline-block;
  position: relative;
  top: 10px;
}

.radius {
  border-radius: 50%;
}

.sidebar button:hover {
    position: relative;
    bottom: 1px;
}

.list-div {
    display: flex;
    justify-content: center;
    width: 40vw;
    height: 15vh;
    padding: 5vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.list-div input {
    width: 30vw;
}

.to-do-list {
    position: relative;
    bottom: 1.5vh;
    width: 40vw;
}

.content ul {
    position: relative;
    right: 1.55vw;
    width: 43.1vw;
}

.content ul li:hover {
    background-color: #a8a7a7;
}

.content ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

.to-do-list li {
    background-color: #eee;
    padding: 5px;
}

.to-do-list li:nth-child(odd) {
    background-color: rgb(199, 198, 198);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: rgb(214, 208, 245);
    padding: 30px;
}

.new-project-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
    position: relative;
    list-style: none;
    font-size: 1.5em;
}

.project {
    height: 50vh;
    width: 50vh;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 30px;
    background-color: lightsteelblue;
    border-radius: 20px;
    border-color: lightgray;
}

.list-div button {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #141414;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 2px;
}

.content button:hover {
  background-color: #bbb;
}

.delete {
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 10px;
  border-radius: 5px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.4vw 0.5vw;
}
  
.close:hover {
    background-color: #f44336;
    color: white;
}